/*
Filename: style.css
Written By: Jesse Winton
*/

/* css reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote::before, blockquote::after,
q::before, q::after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

iframe, object, embed {
    max-width: 100%;
}

/* basic setup */
body {
	background: #fff;
	margin: 0 auto;
	max-width: 1680px;
	padding: 0;
	width: 100%;
	height: 100%;
    font-size: 13px;
	line-height: 2;
    font-family: 'Gotham Medium', sans-serif;
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

img {
	max-width: 100%;
}

/* typography */
a {
	text-decoration: none;
	color: #777;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Leitura';
	color: #333;
}

h1 {
	font-size: 38px;
}

h2 {
	font-size: 33px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 27px;
}

h5 {
	font-size: 24px;
}

h6 {
	font-size: 20px;
}

.title {
	font-family: 'Leitura';
	font-size: 34px;
}


/* pages */
.wrapper {
	position: relative;
	width: 100%;
	height: 100%;
	display: block;
	text-align: center;
	margin: 0 auto;
}

.wrapper::after {
	content: '';
	display: block;
	clear: both;
}

/* home */
.info,
.hero {
	width: 50%;
	height: 100vh;
	float: left;
}

.info {
	background: #fff;
}

.info .buttons {
	width: 100%;
	margin: 0 auto;
}

@media (max-width: 768px) {
	.info {
		width: 100%;
		float: none;
	}

	.hero {
		display: none;
	}
}

/* info */
.subheading {
	color: #007496;
	font-size: 13px;
	font-family: 'Gotham Medium';
}

.logo {
	transition: color .3s ease-in-out, background .3s ease-in-out;
	-webkit-transition: color .3s ease-in-out, background .3s ease-in-out;
	-moz-transition: color .3s ease-in-out, background .3s ease-in-out;
	-o-transition: color .3s ease-in-out, background .3s ease-in-out;
}

/* hero */
.hero {
	background-position: center !important;
	background-size: cover !important;
	-webkit-background-size: cover !important;
	-moz-background-size: cover !important;
	-o-background-size: cover !important;
	-ms-background-size: cover !important;
}

/* 404 */
.not-found {
	background: #fff;
	width: 100%;
	height: 100vh;
	color: #007496;
}

/* buttons */
.button {
	display: inline-block;
	text-align: center;
	color: #333;
	font-size: 13px;
	font-family: 'Gotham Medium';
	height: 35px;
	line-height: 35px;
	width: auto;
	padding: 0 8px;
	min-width: 155px;
	margin: 15px auto;
	text-transform: uppercase;
	border: 2px solid #333;
	transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
	-webkit-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
	-moz-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
	-o-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
	-ms-transition: color 0.3s ease-in-out, background 0.3s ease-in-out;
}

.button:hover {
	color: #fff;
	background: #333;
}

/* social */
.social {
	margin: 5px 0;
}

.social a {
    font-family: 'Icons';
	font-size: 15px;
	margin: 0 5px;
	color: #333;
	text-align: center;
	cursor: pointer;
    transition: color .3s ease-in;
    -moz-transition: color .3s ease-in;
    -o-transition: color .3s ease-in;
    -webkit-transition: color .3s ease-in;
}

.social a:hover {
	color: #007496;
}

.facebook::after {
	content: '\f231';
}

.twitter::after {
    content: '\f243';
}

.googleplus::after {
	content: '\f234';
}

.instagram::after {
	content: '\f350';
}

.github::after {
	content: '\f233';
}

.linkedin::after {
	content: '\f239';
}

.medium svg {
	height: 12px;
	width: 20px;
}

.medium svg path {
	transition: fill .3s ease-in;
    -moz-transition: fill .3s ease-in;
    -o-transition: fill .3s ease-in;
    -webkit-transition: fill .3s ease-in;
}

.st0 {
	fill:#d0d2d3;
}

.st1 {
	fill:#a6a8ab;
}

.st2 {
	fill:#808184;
}

.st3 {
	fill:#333;
}

.st4 {
	fill:#939393;
}

.st5 {
	fill:#231f20;
}

.medium:hover path {
	fill: #007496;
}

/* layout */
.position-relative {
	position: relative !important;
}

.position-absolute {
	position: absolute !important;
}

.position-fixed {
	position: fixed !important;
}

.position-static {
	position: static !important;
}

.no-gap {
	padding: 0;
}

.gap-top-bottom {
	padding: 40px 0;
}

.gap-left-right {
	padding: 0 40px;
}

.gap-top {
	top: 100px;
}

.gap-right {
	padding-right: 40px;
}

.gap-bottom {
	padding-bottom: 40px;
}

.gap-left {
	padding-left: 40px;
}

.pin-top-left {
    position: absolute;
    left: 0;
    top: 0;
}

.pin-top-center {
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    top: 0;
}

.pin-top-right {
    position: absolute;
    right: 0;
    top: 0;
}

.pin-middle-left {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    top: 50%;
}

.pin-middle-center {
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.pin-middle-right {
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    top: 50%;
}

.pin-bottom-left {
    position: absolute;
    left: 0;
    bottom: 0;
}

.pin-bottom-center {
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    left: 50%;
    bottom: 0;
}

.pin-bottom-right {
    position: absolute;
    right: 0;
    bottom: 0;
}

.pin-vertical-center {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.pin-horizontal-center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

/* fonts */
@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/gothamlight.woff') format('woff'),
    	 url('../fonts/gothamlight.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/gothambook.woff') format('woff'),
    	 url('../fonts/gothambook.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham Medium';
    src: url('../fonts/gothammedium.woff') format('woff'),
    	 url('../fonts/gothammedium.woff2') format('woff2');
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/gothambold.woff') format('woff'),
    	 url('../fonts/gothambold.woff2') format('woff2');
}

@font-face {
	font-family: 'Leitura';
	src: url('../fonts/leitura.woff') format('woff'),
		 url('../fonts/leitura.woff2') format('woff2');
}

@font-face {
	font-family: 'Icons';
	src: url('../fonts/icons.woff') format('woff'),
		 url('../fonts/icons.woff2') format('woff2');
}
